---
import { Image } from 'astro:assets';
import Ferrari from '../assets/f40.jpg';
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4">
    <div>
        <Image src={Ferrari} class="h-auto max-w-full rounded-lg" alt="A bird sitting on a nest of eggs." />
    </div>
    <div>
        <Image src={Ferrari} class="h-auto max-w-full rounded-lg" alt="A bird sitting on a nest of eggs." />   
     </div>
    <div>
        <Image src={Ferrari} class="h-auto max-w-full rounded-lg" alt="A bird sitting on a nest of eggs." />   
     </div>
    <div>
        <Image src={Ferrari} class="h-auto max-w-full rounded-lg" alt="A bird sitting on a nest of eggs." />   
     </div>
  
  <!--Copy below to add more images -->
  
     <!-- <div>
        <Image src={Ferrari} class="h-auto max-w-full rounded-lg" alt="A bird sitting on a nest of eggs." />   
     </div> -->

</div>

